//== Colour Palette

$black-color:          black;
$white-color:          white;
$primary-black:        #141516;
$primary-grey:         #565b5f;
$secondary-grey:       #838b91;
$athens-grey:          #e5e8ed;
$three-seven-grey:     #777777;

//= Typography
$default-content-font-size:  14px;
$dfault-content-font-family: 'Inconsolata', monospace;
