.main-navbar {
  background: 0;
  border-radius: 0;
  border: 0;
  left: 0;
  margin: 0;
  padding: 15px;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;

  .navbar-brand {
    padding: 11px 15px;
  }

  .app-svg-icon {
    height: 24px;
    width: 160px;
  }

  .header-toggler {
    background: 0;
    border: 0;
    margin-right: 0;
    transition: transform cubic-bezier(0.4, 0, 1, 1) 0.3s;

    &:focus,
    &:hover,
    &:focus:hover {
      background: 0;
    }

    &[aria-expanded='true'] {
      transform: rotate(90deg);
    }
  }

  .nav-item .link {
    position: relative;
  }

  .nav-item .link::before {
    @extend %custom-line-throw-rule;
  }

  .nav-item .link:focus,
  .nav-item .link:hover,
  .nav-item .link:focus:hover {

    &::before {
      width: calc(100% - 30px);
    }
  }

  .main-nav-list {
    box-shadow: none;
    transition: height cubic-bezier(0.4, 0, 1, 1) 0.3s;

    .navbar-nav {
      margin: 0 -15px;
    }
  }

  &.-black {

    .app-svg-icon path:not(.me-app-svg-path) {
      fill: $white-color;
    }

    .icon-bar {
      background-color: $white-color;
    }

    .nav-item .link {
      color: $primary-black;
    }

    .nav-item .link::before {
      background-color: $primary-black;
    }

    .nav-item .link:focus,
    .nav-item .link:hover,
    .nav-item .link:focus:hover {
      color: $primary-black;
    }
  }

  &.-white {

    .icon-bar {
      background-color: $primary-black;
    }

    .nav-item .link {
      color: $white-color;
    }

    .nav-item .link::before {
      background-color: $white-color;
    }

    .nav-item .link:focus,
    .nav-item .link:hover,
    .nav-item .link:focus:hover {
      color: $white-color;
    }
  }
}

// For small and extra small screens
@media (max-width: $screen-sm - 1) {

  .main-navbar {
    overflow: hidden;

    .main-nav-list {
      margin-left: -15px;
      margin-right: -15px;
      padding: 0 30px;
    }

    .main-nav-list.in::after {
      @include gradient-vertical(rgba($three-seven-grey, 0.2), transparent);
      background-repeat: repeat-x;
      content: '';
      height: 5px;
      left: 0;
      position: absolute;
      right: 0;
      top: calc(100% - 5px);
      width: calc(100% + 30px);
      z-index: 1000;
    }
  }

  .main-navbar.-black {

    .main-nav-list {
      background-color: $primary-black;
    }

    .nav-item .link {
      color: $white-color;
    }

    .nav-item .link:focus,
    .nav-item .link:hover,
    .nav-item .link:focus:hover {
      color: $white-color;
    }

    .nav-item .link::before {
      background-color: $white-color;
    }
  }

  .main-navbar.-white {

    .main-nav-list {
      background-color: $white-color;
    }

    .nav-item .link {
      color: $primary-black;
    }

    .nav-item .link:focus,
    .nav-item .link:hover,
    .nav-item .link:focus:hover {
      color: $primary-black;
    }

    .nav-item .link::before {
      background-color: $primary-black;
    }
  }
}
