.contacts-page {

  .list-of-contacts {
    @extend %vertical-alignment-rule;

    justify-content: center;
    text-align: center;
  }

  .link-wrapper {
    padding: 0 5px;
  }

  .link.-contacts {
    color: $secondary-grey;
    font-size: $default-content-font-size + 6;
    padding: 10px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
  }

  .link.-contacts::before {
    @extend %custom-line-throw-rule;
    background-color: $secondary-grey;
  }

  .link.-contacts:focus::before,
  .link.-contacts:hover::before,
  .link.-contacts:focus:hover::before {
    width: 100%;
  }
}

// For small and extra small screens
@media (max-width: $screen-sm - 1) {

  .contacts-page {

    .link-wrapper {
      display: inline-block;
    }

    .link.-contacts::before {
      display: none;
    }
  }
}
