.side-block {
  height: 100%;
  padding-top: 80px;

  &.-dark {
    background-color: $primary-black;
  }
}


// For small and extra small screens
@media (max-width: $screen-sm - 1) {

  .home-page {

    .side-block:first-of-type {
      height: calc(100% - 120px);
    }

    .side-block:last-of-type {
      height: 120px;
    }
  }

  .contacts-page {

    .side-block:first-of-type {
      height: calc(100% - 60px);
    }

    .side-block:last-of-type {
      height: 60px;
    }
  }

  .side-block:last-of-type {
    padding-top: initial;
  }
}
